ALWAYS_SEARCH_USER_PATHS=NO
ENABLE_HARDENED_RUNTIME=YES
CLANG_ENABLE_MODULES=YES
CLANG_ENABLE_OBJC_ARC=YES
COPY_PHASE_STRIP=NO
CURRENT_PROJECT_VERSION=1
DEBUG_INFORMATION_FORMAT=dwarf-with-dsym
DEVELOPMENT_TEAM=HCTW65QDC4
ENABLE_NS_ASSERTIONS=NO
ENABLE_STRICT_OBJC_MSGSEND=YES
ENABLE_USER_SCRIPT_SANDBOXING=YES
GCC_NO_COMMON_BLOCKS=YES
MACOSX_DEPLOYMENT_TARGET=14.0
MARKETING_VERSION=0.1.0
SDKROOT=macosx
SWIFT_COMPILATION_MODE=wholemodule
SWIFT_OPTIMIZATION_LEVEL=-O
SWIFT_VERSION=6.0
VALIDATE_PRODUCT=YES
